/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // Default Layer
        default_layer {
            bindings = <
                // Left Hand
                &kp Q  &kp W  &kp E  &kp R  &kp T  &none &none &none     &none &none &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC
                &kp A  &kp S  &kp D  &kp F  &kp G  &none &none &none     &none &none &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp ENTER
                &kp Z  &kp X  &kp C  &kp V  &kp B  &none &none &none     &none &none &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH &kp RSHIFT
                &none &none &none &kp LSHIFT &kp SPACE &none &none     &none &none &none &kp ENTER &kp SPACE &none &none &none &none
                &none &none &none &none &none &none &none &none     &none &none &none &none &none &none &none &none
            >;
        };
    };
};
